body {
  margin: 30px 90px 30px 230px;
  max-width: 901px;
}

#top-of-page h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  bottom: 15px;
  color: #333333;
  margin: 0px 0px -2px 0px;
}
#top-of-page h4 {
  font-family: 'Just Another Hand', cursive;
  font-size: 15px;
  display: inline-block;
  position: relative;
  right: 125px;
  
}
#top-of-page img:first-child {
  float: left;
  position: relative;
  bottom: 10px;
}
#top-of-page img {
  float: right;
}
.stripes {
  margin-top: 30px;
background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, black 3px, black 1px);
  height: 10px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
}
h4 {
  font-family: 'Rajdhani', sans-serif;
  color: #666;
  margin-top: 10px;
  margin-left: 1px;
}
h5 {
  font-family: 'Rajdhani', sans-serif;
  color: #666;
  margin-bottom: 20px;
  margin-left: 1px;
  float: right;
}
#chocopizza {
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
}
.container {
  text-align: left;
  background-image: url("../img/list-bg.png");
  
}
.column {
  float: left;
  width: auto;
  margin: auto;
  height: auto;
  position: relative;
}

.indent {
  text-indent: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  top: 50%;
  left: 50%;
}

.button {
  float: right;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.stripes {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, black 3px, black 1px);
    height: 10px;
  }

#vanessa {
  float: left;
}

footer {
  text-align: Center;
}

#smalllogo {
  display: block;
  margin: auto;
}
